@font-face {
	font-family: 'DigitaldreamRegular';
	src: url('font/digitaldream-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

::selection {
	background-color: #000;
}

body {
	text-align: center;
	font-family: sans-serif;
	background-color: rgb(128, 128, 128);
	color: #fff;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	transition: background 1s linear;
	will-change: background-color;
}

h1 {
	font-size: 72px;
	font-weight: normal;
	letter-spacing: -2px;
	font-family: DigitaldreamRegular, monospace;
	margin: 0.5em 0;
}

#clock {
	font-family: DigitaldreamRegular, monospace;
	margin-top: 100px;
	font-size: 160px;
	line-height: 1;
}

a {
	color: #fff;
}

aside {
	margin-top: 2em;
}

.colon {
	display: inline-block;
}
